* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #f9d423, #e2a139);
}

.coin-container {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 15px;
  width: 30%;
}

.heading {
  font-family: 'Roboto';
  color: #a35200;
}

.description {
  font-family: 'Roboto';
  color: #334155;
  font-size: 20px;
}

.number-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  color: #475569;
  font-size: 16px;
  margin: 20px;
  width: 50%;
}

.image {
  height: 200px;
  width: 200px;
}

.button {
  color: #a35200;
  background-color: #f9d423;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  width: 130px;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.button:hover {
  background-color: #ffffff;
  color: #a35200;
  border: 2px solid #a35200;
}
